# Good Reads Capstone

# TBE: insert Big Picture of a Book

# Part 1: Webscraping

Link: https://www.goodreads.com/shelf/show/currently-reading?page=1

TBE: Insert a screen cap of Good Reads with what I scraped

In [1]:
#Python Libraries for WebScraping
import requests
from bs4 import BeautifulSoup

In [2]:
gr_webpage = requests.get('https://www.goodreads.com/shelf/show/currently-reading?page=1')
soup = BeautifulSoup(gr_webpage.text, 'html.parser')

In [3]:
x = 20 #Set as any number 1~50
book_obj = soup.findAll('a',class_='bookTitle')[x].text
data_title = str(book_obj).split("(")[0].strip()
print(data_title)

Beneath a Scarlet Sky

# Part 2: Database Storage

In [4]:
#Python Libraries for Mongos Database
import pymongo
from pymongo import MongoClient
import pandas as pd

In [5]:
client = MongoClient()
database = client['demonstration']   # Database name (to connect to)
collections = database['gr_demo'] 
try:
    collections.delete_many({})
except:
    pass
collections = database['gr_demo'] # Collection name (to use)

In [6]:
for obj in soup.findAll('div',class_='left')[:5]: #indexed for demonsration
    book_obj = obj.find('a',class_='bookTitle')
    book_title = obj.find('a',class_='bookTitle').text
    data_title = str(book_title).split("(")[0].strip() 
    link_book = "https://www.goodreads.com" + book_obj["href"]
    
    book_read_times = obj.find('a',class_='smallText')
    data_book_currently_reading = int(book_read_times.text.split()[1])

    book_year_ratings = obj.find('span',class_='greyText smallText')
    book_year_ratings_list = book_year_ratings.text.strip().split("\n")
    data_book_year = book_year_ratings_list[2].strip().split()[1]

    author_names = obj.find('a',class_='authorName')
    data_author = author_names.text

    link_author = author_names["href"]
    author_sub_page = requests.get(link_author)
    author_sub_soup = BeautifulSoup(author_sub_page.text, 'html.parser')
    author_birth_place = ""
    for char in author_sub_soup.find("div", class_ = "dataTitle").next_siblings:
        if char.name == "div":
            break
        else:
            author_birth_place += str(char)
            
    birth_country_stripped = author_birth_place.strip().split(",")[-1]
    birth_country_stripped_1 = birth_country_stripped.strip()
    data_birth_country = birth_country_stripped_1.split("\n")[0].strip()
    if data_birth_country[0:3] == "The":
        data_birth_country = data_birth_country[4:].strip()
    elif data_birth_country[0:6] == "in The":
        data_birth_country = data_birth_country[7:].strip()
    elif data_birth_country[0:2] == "in":
        data_birth_country = data_birth_country[3:].strip()
    elif data_birth_country == "":
        data_birth_country = "N/A"
    
    collections.insert_one({"title" : data_title, "author" : data_author, "birth_country" : data_birth_country, "current_readers" : data_book_currently_reading, "book_year": data_book_year})

In [7]:
demo_data = pd.DataFrame(list(collections.find()))
demo_data

,_id,author,birth_country,book_year,current_readers,title
0,5c65d28813218a68bed57a3e,Jane Austen,England,1813,110672,Pride and Prejudice
1,5c65d28913218a68bed57a3f,Margaret Atwood,Canada,1985,92704,The Handmaid's Tale
2,5c65d28913218a68bed57a40,J.K. Rowling,United Kingdom,1997,86311,Harry Potter and the Sorcerer's Stone
3,5c65d28a13218a68bed57a41,George R.R. Martin,United States,1996,85480,A Game of Thrones
4,5c65d28a13218a68bed57a42,George Orwell,India,1949,78600,1984

# Part 3: Exploratory Data Analysis

In [8]:
#Python Libraries for data analysis
import numpy as np
import matplotlib.pyplot as plt